@charset "UTF-8";

* {
	outline: none;
}

html, body {
	width: 100%;
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Fira Sans", "Open Sans", Helvetica, Arial, sans-serif;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

/*
 *	Input
 */
input.itg-input {
	width: 6em;
	border: 2px solid rgba(255, 255, 255, 1);
	padding: 0.4em 1em;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: 700;
	border-radius: 5px;
	background: none;
	transition: box-shadow 0.2s;
}

input.itg-input:focus {
	box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.2);
}

input.itg-input--invalid {
	background-color: rgba(244, 67, 54, 1);
}

input.itg-input::placeholder {
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

input.itg-input::-webkit-input-placeholder {
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

input.itg-input:-moz-placeholder {
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

input.itg-input::-moz-placeholder {
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

input.itg-input:-ms-input-placeholder {  
	font-size: 0.8em;
	color: rgba(255, 255, 255, 0.4);
	font-weight: 200;
	vertical-align: middle;
	text-transform: uppercase;
}

/*
 *	Textarea
 */
textarea.itg-textarea {
	width: 100%;
	max-height: 200px;
	border: 2px solid rgba(255, 255, 255, 1);
	padding: 0.4em 1em;
	font-size: 1em;
	color: rgba(66, 66, 66, 1);
	font-weight: 500;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	resize: vertical;
	transition: box-shadow 0.2s;
}

textarea.itg-textarea:focus {
	box-shadow: inset 5px 5px 3px rgba(0, 0, 0, 0.2);
}

textarea.itg-textarea--invalid {
	background-color: rgba(244, 67, 54, 1);
}

/*
 *	Cards
 */
.itg-card {
	width: 100%;
	padding: 10px;
	background-color: rgba(238, 238, 238, 1);
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
	box-sizing: border-box;
	will-change: box-shadow;
	transition: box-shadow 0.2s;
}

.itg-card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.itg-card__title {
	color: rgba(33, 33, 33, 1)
}

.itg-card__supporting-text {
	color: rgba(66, 66, 66, 1);
}

/*
 *	Buttons
 */
.itg-button {
	cursor: pointer;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 1);
	padding: 1em 2em;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	background-color: unset;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.1s, color 0.1s, box-shadow 0.2s;
}

.itg-button:hover {
	color: rgba(33, 33, 33, 1);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}

.itg-button:active {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}

/*
 *	Floating action button
 */
.itg-fab-button {
	width: 54px;
	height: 54px;
	text-align: center;
	border-radius: 50%;
	color: rgba(238, 238, 238, 1);
	background-color: rgba(239, 108, 0, 1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
	cursor: pointer;
	will-change: box-shadow;
	transition: box-shadow 0.2s;
}

.itg-fab-button:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.itg-fab-button__icon {
	text-align: center;
	vertical-align: middle;
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	display: inline-block;
	line-height: 54px;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}

/*
 *	Text aligning
 */
.text-align--left {
	text-align: left;
}

.text-align--center {
	text-align: center;
}

.text-align--justify {
	text-align: justify;
}

.text-align--right {
	text-align: right;
}
